.faves-container {
  height: 500px;
  min-width: 350px;
  margin-bottom: 10px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: solid 3px black;
  transform: translateX(-100%);
  position: absolute;
  background-color: antiquewhite;
}

.fave-card {
  display: grid;
  height: 200px;
  grid-template-areas: 
  'image title'
  'button desc';
  align-items: center;
  margin: 10px 0;
}

.image {
  display: flex;
  grid-area: 'image';
  justify-content: center;
}

.image img {
  border: solid 3x black;
  border-radius: 50%;
  height: 125px;
  width: 125px;
}

.title {
  grid-area: 'title'
}

.desc {
  grid-area: 'desc';
  padding: 10px;
}

.remove-button {
  grid-area: 'button';
}

.on-screen {
  transform: translateX(20px);
}