.about-us {
  display: flex;
  flex-direction: column;
  background-color: gray;
  
}
h1 {
  padding: 30px;
  font-size: 50px;
  margin: 15px;
}
.dev-container {
  justify-content: center;
  display: flex;
  justify-content: space-around;
  background-color: white;
  
  padding: 50px;
  margin-left: 25px;
  margin-right: 25px;
  object-fit: cover;
}

.dev {
  display: flex;
  flex-direction: column;
  background-color: lightslategrey;
  padding: 20px;
  justify-content: center;
}

.hat-container {
  position: absolute;
  top: 9.75rem;
  z-index: 40;
}

.hat {
  height: 250px;
  width: 250px;
  object-fit: scale-down;
  pointer-events: none;
  
}

.dev-img {
  height: 250px;
  width: 250px;
  border-radius: 9rem;
  object-fit: cover;
  z-index: 30;
  
}