ul {
  list-style: none;
  padding: 0;
}

.shop-container {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.shop-info {
  margin: auto;
  margin: 10px 0;
  text-align: center;
  background-color: antiquewhite;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}

.shop-info ul {
  padding: 0px;
}

.detail-image-container {
  width: 300px;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.detail-image-container ul {
  list-style: none;
  display: block;
  white-space: nowrap;
}

.detail-image-container li {
  display: inline-block;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.detail-image-container img {
  width: 300px;
  padding: 10px;
}

.map {
  padding: 10px;
}

.yelp-link {
  margin: 15px 0;
  color: white;
}