.header-wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: steelblue;
}

.header-wrapper button {
  border-radius: 5px;
}

.header-wrapper h2 {
  text-shadow: -2px 2px 8px white;
}

.loginout {
  margin: 0 5px;
}

.active {
  font-size: 1.5em;
}