@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Love+Ya+Like+A+Sister&family=Nixie+One&family=Rye&display=swap');

/* 
header ---> font-family: 'Rye', cursive; 
h2 or h3 -> font-family: 'Fredericka the Great', cursive;
h2 or h3 -> font-family: 'Love Ya Like A Sister', cursive;
subtext --> font-family: 'Nixie One', cursive;
*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
