@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Love+Ya+Like+A+Sister&family=Nixie+One&family=Rye&display=swap');

/* 
header ---> font-family: 'Rye', cursive; 
h2 or h3 -> font-family: 'Fredericka the Great', cursive;
h2 or h3 -> font-family: 'Love Ya Like A Sister', cursive;
subtext --> font-family: 'Nixie One', cursive;
*/

body {
  margin: 0;
  font-family: 'Fredericka the Great', cursive;
  font-size: 16px;
  background-image: url('../public/assets/imgs/mountains-red.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: 'Rye', cursive;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

span {
  font-family: 'Nixie One', cursive;
  font-weight: bolder;

  font-size: 16px;
}

p {
  font-family: 'Rye', cursive;
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
