.map-container {
  display: flex;
  justify-content: center;
}


/* directionsCallback(response) {
      console.log(response);
      if (response !== null) {
        if (response.status === 'OK') {
          this.setState(
            () => ({
              response
            })
          );
        } else {
          console.log('response is: ', response);
        }
      }
    } */


/* const containerStyle = {
    width: '400px',
    height: '400px'
  };

  const center = {
    lat: 40.04738,
    lng: -105.28121
  };

  const { isLoaded } = useJsApiLoader({
    id: 'google-map-script',
    googleMapsApiKey: process.env.REACT_APP_MAPS_API_KEY
  });

  const [map, setMap] = useState(null);

  const onLoad = React.useCallback(function callback(map) {
    const bounds = new window.google.maps.LatLngBounds(center);
    map.fitBounds(bounds);
    setMap(map);
  }, []);

  const onUnmount = React.useCallback(function callback(map) {
    setMap(null);
  }, []);

  const directionsCallback = (response) => {
    console.log(response);
  }; */


  /* {isLoaded ? (
        <GoogleMap
          mapContainerStyle={containerStyle}
          center={center}
          zoom={10}
          onLoad={onLoad}
          onUnmount={onUnmount}
        >
          
        </GoogleMap>
      ) : <></>} */