.auth-form-container {
  min-width: 350px;
  max-width: 600px;
  height: 400px;
  margin: auto;
  color: white;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

.auth-form button {
  width: fit-content;
  margin: 10px 0;
}

.auth-form label {
  margin: 10px 0;
}
